{% extends 'base.html' %}>

{% block title %}
    Category list
{% endblock %}


{% block body %}
    <h1> Categories : </h1>
        {% if categories %}
            <div>
                <ol>
                    {% for category in categories %}
                    <li>
                        <a href="{% url 'ticket' pk=category.pk %}">
                             {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        {% else %}
            <h3> No categories here ! </h3>
        {% endif %}

{% endblock %}